@import "tailwindcss";

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.quote_card_box,
.feature_box {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}